@container-width: 801px;
@default-fonc-size: 14px;
@font-size-1: 16px;
@font-size-2: 18px;
@font-size-3: 20px;
body{
	font-size: @default-fonc-size;
}
ul, li{
	list-style-type: none;
	margin-left: 0px;
}
h1{
	font-size: 48px;
	font-weight: normal;
	text-align: left;
	color: white;
	margin-left: 1em;
	position: absolute;
	top: 50%;
	margin-top: -22.5px;
}
.container {
	width: @container-width;
	margin: 0 auto;
	background-image: url('../assets/background.png');
	font-family: sans-serif;
}
.header{
	background-color: black;
	height: 100px;
	padding-top: 1px;
	letter-spacing: 2em;
	position: relative;
}
.login-user{
	height: 67px;
	position: relative;
}
.login-user, .event-data{
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.login-btn{
	width: 180px;
	height: 32px;
	font-size: @font-size-1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -16px;

}
.login-user-icon{
	font-size: @font-size-1;
	height: 2em;
	width: 2em;
	margin-left: 10px;
	margin-top: 10px;
}
.login-user-name {
	margin-left: 10px;
	font-size: @font-size-2;
}
.event-list {
	margin-left: 0;
}
.event-data {
	font-size: @font-size-2;
	padding-top: 5px;
}
.event-data:hover{
	background-color: rgba(221,221,221, 0.4);
}
.event-name {
	display: table-cell;
	vertical-align: middle;
}
.member-icon{
	width: 2em;
	height: 2em;
}
.event-when-where, .event-name, .event-member, .event-join{
	float:left;
}
.event-comment {
	float: right;
}
.event-when-where {
	width: 140px;
	margin-left: 12px;
}
.event-time, .event-place{
	float: both;
	text-align: right;
}
.event-place {
	font-size: @default-fonc-size;
}
.event-name {
	width: 150px;
	margin-left: 10px;
	text-align: center;
}
